name: build-push
on:
  push:
  workflow_dispatch:
jobs:
  find-jobs:
    name: Find changed directories
    runs-on: ubuntu-24.04
    outputs:
      folders: ${{ steps.jobs.outputs.folders }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0
      - id: jobs
        shell: bash
        run: |
          set -eou pipefail
          base="origin/main"
          if git cat-file -e "${{ github.event.before }}^{commit}"; then
            base="${{ github.event.before }}"
          fi
          folders=$(git diff --diff-filter="ACMR" --name-only "$base" ${{ github.event.after }} | xargs dirname | awk -F '/' '{print $1}' | sort | uniq | grep -Ev "^\." | awk NF | jq -c --raw-input --slurp 'split("\n") | .[0:-1]')
          echo $folders | jq .
          echo "folders=$folders" >> $GITHUB_OUTPUT

  get-tags:
    needs: [find-jobs]
    runs-on: ubuntu-24.04
    outputs:
      tags: ${{ steps.tags.outputs.tags }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - id: tags
        run: |
          json_array=$(echo '${{ needs.find-jobs.outputs.folders }}' | jq -rc '.[]')
          TAGS=$(while read -r REPO; do
            if [ ! -d $REPO/.build-args ]; then
              echo '{"context":"'${REPO}'", "image":"'${REPO}'", "args":""},'
              continue
            fi
            for TAG in $(ls $REPO/.build-args); do
              echo '{"context":"'${REPO}'", "image":"'${REPO}'-'${TAG}'", "args":"'$(cat ${REPO}/.build-args/${TAG})'"},'
            done
          done <<< "$json_array")
          TAGS=$(echo "[${TAGS%,}]" | tr -d '\n')
          echo $TAGS | jq .
          echo "tags=$TAGS" >> $GITHUB_OUTPUT

  build-push-ghcr:
    name: "docker build+push ${{ matrix.tags.image }} to ghcr.io"
    needs: [get-tags]
    strategy:
      matrix:
        tags: ${{ fromJson(needs.get-tags.outputs.tags) }}
    uses: lehigh-university-libraries/gha/.github/workflows/build-push-ghcr.yaml@main
    with:
      image: ${{ matrix.tags.image }}
      context: ${{ matrix.tags.context }}
    runners: ${{ matrix.tags.image == 'scyllaridae-whisper' && '["ubuntu-24.04"]' || '["ubuntu-24.04", "ubuntu-24.04-arm"]' }}
    permissions:
      contents: read
      packages: write
    secrets: inherit
