name: CI
on:
  schedule:
    - cron: '43 12 * * 6'
  push:
    paths:
      - 'php/**'
      - '.github/workflows/php-8.yml'
      - '.github/workflows/build-push.yml'

jobs:
  deploy:
    strategy:
      fail-fast: false
      matrix:
        version: ["8.1", "8.2"]

    name: Build and push PHP ${{ matrix.version }}

    uses: ./.github/workflows/build-push.yml

    with:
      dir: php
      major_version: ${{ matrix.version }}
      build_arg: PHP_VERSION=${{ matrix.version }}

    permissions:
      contents: read
      id-token: write

    secrets: inherit
